/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
   -webkit-transition: 0.5s linear;
   -moz-transition: 0.5s linear;
   -o-transition: 0.5s linear
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas sugestões:
 *   - agitado: animal piscando (opacidade variando)
 *   - alimentado: uma borda verde no animal e o animal fica girando de alegria
 *   - perturbado: animal fica pulsando
 *   - instinto-selvagem: animal dá um salto e cresce, com uma borda vermelha
 */
.agitado {
  animation: piscando .5s ease-in-out 0s infinite alternate;

}
@keyframes piscando {
  from { opacity: 1.0; }
  to   { opacity: 0.5; }
}
.agitado img {}

.alimentado {
  animation: pirando 600ms ease-in 3s 1 forwards,
             girando-costas 3600ms ease-in 1 forwards;
}

@keyframes pirando {
  from { opacity: 1; top: 0;      width: 100px; left: 0     }
  to   { opacity: 0; top: -200px; width: 20px;  left: 40px; }
}
@keyframes girando-costas {
  from { transform: rotateY(0); }
  to   { transform: rotateY(3600deg); }
}
.alimentado img {
  border-color: green;
}

.perturbado {
}
.perturbado img {
  width: 225px;
  height: 225px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.instinto-selvagem {
}
.instinto-selvagem img {
  border-color: red;
  position: relative;
  width: 225px;
  height: 225px;
  animation: pulando .5s ease-in-out;
}

@keyframes pulando {
  from { top: 0;     }
  to   { top: -30px; }
}


/*
 * Exercício 3: Criar uma imagem sprite com as imagens dos botões de controle
 * (icone-comecar.png e icone-parar.png). Sugestões:
 *   - Usar o nome: sprite-controles.png
 *   - Usar o paint.NET (ou Photoshop) para gerar a nova imagem (sprite)
 *
 */

.comecar,
.parar {}

.comecar {}

.parar {}
